{%extends "layouts/main.html"%}
{% load static%}

{%block title%} main page {% endblock title %}

{% block content %}
<br>
<div class="container">
    <br><br><br>
    <img src="{% static 'images/test.jpg' %}" class="rounded float-end" style="height:250px;width:300px" alt="My image">

   <br><br>
    <h2 class="text-dark">ready ,write </h2>
    <h2 class="text-dark"> to master english</h2>
    <h2 class="text-dark"> register to start </h2><br>
    <button class="btn btn-danger">register</button>
  
<br><br><br><br>
</div> 


<div class="bg-light p-5 border-t container mx-auto">
    <div class="mb-8">



    </div>
<h3 class="text-dark">How to learn english? <i class="fas fa-globe"></i></h3><br>



<div class="row align-items-start">
    <div class="col">
        <h4>writing <i class="fas fa-feather-alt"></i></h4>
    </div>
    <div class="col">
        <h4>reading <i class="fas fa-book-open"></i></h4>
    </div>
    <div class="col">
        <h4>Speaking <i class="fas fa-volume-up"></i></h4>
    </div>

    <p>in my perespective if you want to learn any language you have to write essay through writing 
     you will    
    
    
    </p>
  </div>

    

</div>
{% endblock content %}